{{ 'style.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">


{% assign recommended_products = product.metafields.custom.recommended_produccts.value %}
{%if recommended_products != blank%}
<div class="hprWrapper">
  {% assign items_per_row = block.settings.items_per_row %}
  <div class="hprContainer">
    <div class="hprRow">
      <div class="hprcol-12">
        <h4 class="hprTitle">
          {{ block.settings.product_title }}
        </h4>

        {% if block.settings.grid_type == 'static' %}
        <div class="hprproductGridWrapper">
          <div class="hprgrid{{ items_per_row }}">
            {% else %}
            <div class="swiper hprSwiper">
              <div class="swiper-wrapper">
                {% endif %}

                {% for product in recommended_products %}
                  
                {% if block.settings.grid_type == 'static' %}
                <div class="hprgridSingle">
                  {% else %}
                  <div class="swiper-slide">
                    {% endif %}
                    
                    <div class="hprCardWrapper">
                      <div class="hprCardInner">
                        <a href="{{ product.url }}">
                          <img class="img-{{ block.settings.image_ratio }} product-image" src="{{ product.featured_image | img_url }}" alt="{{ product.title }}">
                          <div class="productContentHolder">
                            {% if block.settings.show_vendor %}
                            <div class="hprvendorName">
                              {{ product.vendor }}
                            </div>
                            {% endif %}
                            <h5>
                              {{ product.title }}
                            </h5>
                            <div class="hprpriceWrapper">
                              <span class="hprproductPrice">
                                {{ product.price | money }}
                              </span>
                              <span class="hprcomparedAtPrice"> {{ product.first_available_variant.compare_at_price |  money}} </span>
                            </div>
                          </div>
                    </a>
                  
                    <input type="hidden" value="{{ product.variants.size }}" class="num-variants" />
                    <input type="hidden" value="{{ product.first_available_variant.id }}" class="first-variant-id" />
                  <div>
                     {% if block.settings.variants=="add_to_cart"  %}
                      {% assign numVariants = product.variants.size %}
                      {% if numVariants == 1  %}

                        {% else %}
                      <select class="select-variant" onchange="updatePrice(event)">
                        {% for variant in product.variants %}
                          {% if variant.title !="Default Title" %}
                                 <option data-price="{{ variant.price | money }}" data-img="{{ variant.image.src  |  default: product.featured_image  |  image_url  }}" value="{{variant.id}}">{{ variant.title }}</option>
                                {% endif %}
                              {% endfor %}
                                </select> 
                            {%endif%}               
                {% endif %}


                     </div>
                          <div class="addToCartHolder">

                            {% if block.settings.variants=="add_to_cart" %}
                            <button onClick="addToCart(event)" class="hpratcBtn add-to-cart" style="background-color: {{ block.settings.change_color }};" >
                              {{ block.settings.button_title }}
                            </button>
                            {% else if block.settings.variants=="view_details" %}
                             <button class="hpratcBtn add-to-cart" >
                              <a href="{{ product.url }}">
                                View Details
                                </a>
                             </button>
                            {% endif %}

                          </div>
                        </div>
                      </div>

                    {% if block.settings.grid_type == 'static' %}
                  </div>

                  {% else %}
                </div>
                {% endif %}

                {% endfor %}
              </div>
            </div>

            {% if block.settings.grid_type == 'slider' %}
            <div class="hprswiper-button-next">
              <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.40039 1.40002L7.00039 7.00002L1.40039 12.6" stroke="white" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>
            <div class="hprswiper-button-prev">
              <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.59961 1.3999L0.999609 6.9999L6.59961 12.5999" stroke="white" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>
            {% endif %}
          </div>

        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const swiper = new Swiper(".hprSwiper", {
          slidesPerView: {{ block.settings.number_of_rows }},
          spaceBetween: {{ block.settings.gaps }},
        navigation: {
        nextEl: ".hprswiper-button-next",
        prevEl: ".hprswiper-button-prev",
      },
        });
    });
    </script>
    <script>
      function updatePrice(e){
        const selectedOption = event.target.options[event.target.selectedIndex];
  const price = selectedOption.getAttribute('data-price');
  const imageSrc = selectedOption.getAttribute('data-img');
  const cardWrapper = event.target.closest('.hprCardWrapper');
  cardWrapper.querySelector('.hprproductPrice').innerHTML = price;
  
  if (imageSrc) {
    cardWrapper.querySelector('.product-image').src = imageSrc;
   }
 }
      function addToCart(e){
        if(parseInt(e.target.closest('.hprCardWrapper').querySelector('.num-variants').value) === 1 ){
          let variantId=  e.target.closest('.hprCardWrapper').querySelector('.first-variant-id').value 
            const data = {
                id: variantId,
                quantity: 1 
              }
            addToCartAjax(data)
        }else{
          let variantId = e.target.closest('.hprCardWrapper').querySelector('select').value 
          const data = {
                id: variantId,
                quantity: 1 
              }
              addToCartAjax(data)
        }
      }
    
     function addToCartAjax(item){   
        fetch('/cart/add.js', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            },
            body: JSON.stringify(item)
          }).then(response => response.json())
          .then((data)=>{
            window.location.href = "/cart"
          })  
      }
    </script>

{%endif%}

{% schema %}
  {
    "name": "Product recommendation",
    "target": "section",
    "settings": [
      {
        "type": "text",
        "id": "product_title",
        "label": "Product Title",
        "default": "Recommended Product"
      },
      {
        "type": "text",
        "id": "button_title",
        "label": "Button Title",
        "default": "Add to cart"
      },
      {
        "type": "radio",
        "id": "variants",
        "label": "Variants layout",
        "options": [
          { "value": "add_to_cart", "label": "Show Add to Cart Button" },
          { "value": "view_details", "label": "Show View Details Button" }
        ],
        "default": "add_to_cart"
      },
   
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show Vendor",
        "default": false
      },
      {
        "type": "radio",
        "id": "grid_type",
        "label": "Grid Layout",
        "options": [
          { "value": "slider", "label": "Slider" },
          { "value": "static", "label": "Static Grid" }
        ],
        "default": "slider"
      },
      {
        "type": "color",
        "id":"change_color",
         "label": "Change Button color"
      },
      {
        "type": "range",
        "id": "items_per_row",
        "label": "Items Per Row",
        "step": 1,
        "min": 2,
        "max": 4,
        "default": 3
      },
      {
        "type": "range",
        "id": "number_of_rows",
        "label": "Number of Rows",
        "step": 1,
        "min": 3,
        "max": 6,
        "default": 3
      },
      {
        "type": "range",
        "id": "gaps",
        "label": "Space Between",
        "step": 10,
        "min": 0,
        "max": 100,
        "default": 30
      },
      {
        "type": "select",
        "id": "image_ratio",
        "label": "Image Ratio",
        "options": [
          { "value": "adapt_to_image", "label": "Adapt to image" },
          { "value": "portrait", "label": "Portrait" },
          { "value": "square", "label": "Square" }
        ],
        "default": "square"
      }
    ]
  }
  {% endschema %}
  